body {
margin-top:0px;
margin-bottom:0px;
background-image:url("img/bg.jpg")/*tpa=http://www.oyashirosama.com/web/rei/img/bg.jpg*/;
background-repeat:repeat;
background-position:center top;
scrollbar-face-color:#66CCFF;
scrollbar-highlight-color #66CCFF;
scrollbar-shadow-color:#66CCFF;
scrollbar-3dlight-color:#CCFFFF;
scrollbar-darkshadow-color:#FFFFFF;
scrollbar-track-color:#CCFFFF;
scrollbar-arrow-color:#FFFFFF;
background-color:#FFFFFF;
}

body,tr,td{
font-size:12px;
color: #333333;
}

.style1 {color: #FF0000}
.style3 {font-size: 10px}
.blue {color: #0000FF}
.font14{
	font-size: 14px;
}
.font16{
	font-size: 16px;
}
.font17{
	font-size: 17px;
}
.font18{
	font-size: 18px;
}
.font20{
	font-size: 20px;
}
.font24{
	font-size: 24px;
}
.mintyo24 {
	font-size: 24px;
	font-family: "‚l‚r ‚o–¾’©", "×–¾’©‘Ì", "ƒqƒ‰ƒMƒm–¾’© Pro W3";
	font-weight: bold;
}
.mintyo14 {
	font-size: 14px;
	font-weight: bold;
	font-family: "‚l‚r ‚o–¾’©", "×–¾’©‘Ì", "ƒqƒ‰ƒMƒm–¾’© Pro W3";
}
.mintyo16 {
	font-size: 16px;
	font-weight: bold;
	font-family: "‚l‚r ‚o–¾’©", "×–¾’©‘Ì", "ƒqƒ‰ƒMƒm–¾’© Pro W3";
}

a:link {color: #006699;}
a:visited {color: #333333;}
a:hover {color: #00CC99;}
a:active {color: #FF6699;}

.scroll{ overflow:auto;height:100px;width:"100%"; }